<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:util="urn:java.util">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>貸出画面</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/member.css"/>

<script th:src="@{/js/jquery/jquery-3.7.0.min.js}"></script>


</head>
<body>
	<div class="main">
		<h2>貸出画面</h2>
		<form th:object="${Book}" method="post">
                   
			<div class="form-group">                        
				<label for="book_Id">本ID:</label>
				<input th:field="*{book_Id}" type="text" class="form-control" name="book_Id"/>
				<button type="submit" class="btn btn-default" formaction="/main/lent/search">検索</button>
            </div>      

            <div class="form-group">
            	<label for="book_Title">本タイトル:</label>
                <input th:field="*{book_Title}" type="text" class="form-control" name="book_Title"/>
            </div>

            <div class="form-group">                        
				<label for="member_Id">会員ID:</label>
				<input  type="text" class="form-control" name="member_Id"/>
				<button type="submit" class="btn btn-default" formaction="/main/member/search">貸出</button>
            </div>
            
		</form>		
	</div>

</body>
</html>