<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ログアウト画面</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/login.css"/>
<script th:src="@{js/jquery/jquery-3.7.0.min.js}"></script>

</head>
<body>
	<div class="main">
		<h1>ログアウト画面</h1>
		<a href="/init">ログイン</a>
		<h5>ログアウトしました。</h5>
	</div>
</body>
</html>