<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book.dao.LentDao">
	
	<insert id="append" parameterType="Rental">
		INSERT INTO book.tbl_rental( 
    		member_id
    		, book_id
    		, rental_date
    		, status
    		, regist_id
    		, regist_date
    		, delete_flg
		) 
		VALUES ( 
    		#{member_Id}
    		, #{book_Id}
    		, TO_DATE(#{rental_Date}, 'YYYY-MM-DD')	
    		, CAST(#{status} AS INTEGER)
    		, #{regist_Id}
    		, TO_TIMESTAMP(#{regist_Date}, 'YYYY-MM-DD HH24:MI:SS')
    		, #{delete_Flg}
		)
	</insert>
	
	<select id="search" resultType="Book">
		select * from book.tbl_book
		where  book_id = #{book_Id} and delete_Flg = '0'
	</select>
	
	<select id="searchRental" resultType="Rental">
		select * from book.tbl_rental
		where book_id = #{book_Id} and delete_Flg = '0'
	</select>
</mapper>