<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- S01ログイン画面Mapper -->
<mapper namespace="com.example.book.dao.MemberDao">
	<!-- ログインボタン押下際 -->
	<insert id="append" parameterType="Member">
		INSERT INTO book.tbl_member(
			member_id
    		, member_family_name
    		, member_family_name_kana
    		, member_first_name
    		, member_first_name_kana
    		, address
    		, birth_day
    		, regist_id
   		 	, regist_date
   			, delete_flg
		)VALUES ( 
			#{member_Id},
			#{member_Family_Name},
			#{member_Family_Name_Kana},
			#{member_First_Name},
			#{member_First_Name_Kana},
			#{address},
			TO_DATE(#{birth_Day}, 'YYYY-MM-DD'),
			#{regist_Id},
			TO_TIMESTAMP(#{regist_Date}, 'YYYY-MM-DD HH24:MI:SS'),
			#{delete_Flg}
		)
	</insert>
	
	<update id="update" parameterType="Member">
		UPDATE book.tbl_member 
		SET
			member_id = #{member_Id}
    		, member_family_name = #{member_Family_Name}
    		, member_family_name_kana = #{member_Family_Name_Kana}
    		, member_first_name = #{member_First_Name}
    		, member_first_name_kana = #{member_First_Name_Kana}
    		, address = #{address}
    		, birth_day = TO_DATE(#{birth_Day}, 'YYYY-MM-DD')
    		, update_id = #{update_Id}
    		, update_date = TO_TIMESTAMP(#{update_Date}, 'YYYY-MM-DD HH24:MI:SS') 
		WHERE
    		member_id = #{member_Id}
	</update>
	
	<update id="delete" parameterType="Member">
		UPDATE book.tbl_member 
		SET
    		update_id = #{update_Id}
    		, update_date = TO_TIMESTAMP(#{update_Date}, 'YYYY-MM-DD HH24:MI:SS')
    		, delete_Flg = #{delete_Flg} 
		WHERE
    		member_id = #{member_Id}
	</update>
	
	<select id="search" resultType="Member">
		select * from book.tbl_member
		where  member_id = #{member_Id} and delete_Flg = '0'
	</select>
</mapper>